<template>
	<div class="well">
		<table class="table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr is="cart-line" v-for="item in cart" :item="item"></tr>
			</tbody>
		</table>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:['cart'],

		data(){
			return {

			};
		},
		
		computed:{

		},

		methods:{

		},

		components:{
			CartLine: require('../../components/CartLine.vue'),
		},
	};
</script>
