<template>
	<div v-show="stock">
		<div class="input-group">
			<select class="form-control" v-model="quantity">
				<option v-for="op in options" :value="op">{{ op }}</option>
			</select>
			<span class="input-group-addon">
				<a href="" @click.prevent="send">Add to Cart</a>
			</span>
		</div>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:{
			product:Object,
			slug:String,
		},

		data(){
			return {
				quantity:1,
			};
		},
		
		computed:{
			options(){
				var res = [];
				for(i = 1; i <= this.stock; i++)
					res.push(i);
				return res;
			},
			stock(){
				return Math.min(10, this.item.stock - this.currentlyHave);
			},
			item(){
				if(this.product)
					return this.product;
				var p = window.store.products[this.slug];
				if(p)
					return p;
				return {};
			},
			currentlyHave(){
				var c = window.store.cart[this.item.slug];
				if(c)
					return c.quantity;
				return 0;
			},
		},

		methods:{
			send(){
				var data = {
					product_slug:this.item.slug,
					quantity:this.quantity,
				};
				this.$http.post('api/cart', data).then(function(data){
					this.refreshCart(data);
				});
				this.quantity = 1;
			},
			refreshCart(data){
				var d = data.data;
				window.store.cart = d;

				for(item in d)
					window.store.products[item]['stock'] = d[item].stock;				
				
			},
		},
	};
</script>
