<template>
	<div class="alert" :class="classes">
		<slot></slot>
	</div>
</template>
<script>
	export default {
		props:['type'],
		computed:{
			classes(){
				return 'alert-'+this.type;
			},
		},
	};
</script>