<template>
	<div class="container" id="alerts-container">
        <alert v-for="alert in alerts" :type="alert.type" :duration="alert.timeout" dismissable>@{{ alert.message }}</alert>
    </div>
</template>
<script>
	import Alert from './Alert.vue';

	export default {
		data(){
			return {
				alerts: [],
			};
		},
		components:{
			Alert,
		},
	};
</script>