<template>
	<div :class="classes" class="btn" role="alert" v-if="show">
		<button type="button" class="close" @click="show = false" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<slot></slot>
	</div>
</template>

<script>
	export default {
		props:['type', 'timeout'],

		data() {
			return {
				show: true 
			};
		},

		computed:{
			classes(){
				var type = this.type;
				if(!type)return 'alert-info';
				switch(type){
					case 'error':
						return 'alert-danger';
					default:
						return 'alert-'+type;
				}
			}
		},

		bind:function(){
			if(!this.timeout)return;

			setTimeout(function(){
				this.show = false;
			}, this.timeout);
		}

	};
</script>