<template>
	<tr v-show="quantity">
		<td><a href="" v-link="'/products/' + item.slug">{{ item.name }}</a></td>
		<td>{{ item.price | currency '£' }}</td>
		<td>
			<div class="">
				<select class="form-control" v-model="quantity">
					<option v-for="op in options" :value="op">{{ op }}</option>
				</select>
			</div>			
		</td>
		<td>{{ (item.price * quantity) | currency '£' }}</td>
	</tr>
</template>
<style>

</style>
<script>
	export default {
		props:['item'],

		data(){
			return {
				quantity:this.item.quantity,
			};
		},

		watch:{
			quantity(val){
				var data = {
					update:'quantity',
					product_slug:this.item.slug,
					quantity:val,
				};
				this.$http.patch('api/cart', data).then(function(data){
					this.refreshCart(data);
				});
			},
		},
		
		computed:{
			options(){
				var res = [];
				for(i = 0; i <= this.stock; i++)
					res.push(i);
				return res;
			},
			stock(){
				return Math.min(10, this.item.stock);
			},
		},

		methods:{
			refreshCart(data){
				var d = data.data;
				window.store.cart = d;

				for(item of d)
					window.store.products[item.product_slug]['stock'] = item.stock;				
			},
		},
	};
</script>
