<template>
	<div class="well clearfix">
		<table class="table">
			<tr v-for="item in cart">
				<td>{{ item.quantity }} x {{ item.name }}</td>
				<td>{{ (item.quantity * item.price)  | currency '£' }}</td>
			</tr>
			<tr class="info">
				<td><b>Sub Total</b></td>
				<td><b>{{ (subTotal / 100.00) | currency '£' }}</b></td>
			</tr>
			<tr v-show="shipping.set">
				<td>{{ shipping.option }}</td>
				<td>{{ (shipping.cost / 100.00) | currency '£' }}</td>
			</tr>
			<tr v-show="showTotal" class="info">
				<td><b>Total</b></td>
				<td><b>{{ (total / 100.00) | currency '£' }}</b></td>
			</tr>
		</table>

		<a href="" class="btn btn-danger" v-link="prev" :class="prevClasses" v-show="prevButton.label">Back: {{ prevButton.label }}</a>

		<a href="" class="btn btn-success pull-right" v-link="next" :class="nextClasses" v-show="nextButton.label">Next: {{ nextButton.label }}</a>

	</div>
</template>
<style>
	.clearfix {
	    overflow: auto;
	}
</style>
<script>
	export default {
		props:['cart', 'page', 'steps', 'shipping', 'showTotal'],

		props:{
			cart:Array,
			page:String,
			steps:Object,
			shipping:{
				type:Object,
				default:{},
			},
			showTotal:Boolean,
		},

		data(){
			return {

			};
		},
		
		computed:{
			subTotal(){
				var res = 0;
				for(item of this.cart)
					res += (item.quantity * item.oPrice);
				return res;
			},
			total(){
				var temp = 0;
				temp += this.subTotal;
				temp += this.shipping.cost;
				return temp;
			},
			prevButton(){
				var res = this.steps[this.steps[this.page].prev];
				if(!res)
					return {};
				return res;
			},
			nextButton(){
				var res = this.steps[this.steps[this.page].next];
				if(!res)
					return {};
				return res;
			},
			nextClasses(){
				if(this.nextButton)
					return '';
				return 'disabled';
			},
			prevClasses(){
				if(this.prevButton)
					return '';
				return 'disabled';
			},
			prev(){
				if(!this.prevButton)
					return {
						path: this.$route.path,
					};
				return {
					path:'/cart/' + this.steps[this.page].prev,
				};
			},
			next(){
				if(!this.nextButton)
					return {
						path: this.$route.path,
					};
				return {
					path:'/cart/' + this.steps[this.page].next,
				};
			},
		},

		methods:{

		},
	};
</script>
