<template>
	<div>
		<carousel :controls="count > 1" :indicators="count > 1" :interval="animate ? interval : null">
			<div class="item {{ (index == 0) ? 'active' : ''}}" v-for="(index, image) in sources">
				<img :src="image">
			</div>			
		</carousel>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:{
			images:{},
			animate:Boolean,
			interval:{
				type:Number,
				default:3000,
			},
		},

		data(){
			return {
				counter: 0,
			};
		},
		
		computed:{
			count(){
				if(this.type == 'string')
					return 1;
				if(this.images instanceof Array)
					return this.images.length;

				return 1;//TODO: handle length if they pass an object
			},
			currentSrc(){
				if(this.type == 'string')
					return this.images;
				if(this.images instanceof Array)
					return this.images[this.counter];

				return ''; //TODO: handle src if they pass an object
			},
			type(){
				return typeof this.images;

				if(this.images instanceof String)
					return 'string';
				if(this.images instanceof Array)
					return 'array';

				return 'object';
			},
			sources(){
				var res=[];
				if(this.type == 'string')
					res.push(this.images);
				else if(this.images instanceof Array)
					for(i of this.images){
						if(typeof i == 'string')
							res.push(i);
						else
							res.push(i.src);
					}
				else if(this.images instanceof Object)
					for(key in this.images){
						var i = this.images[key];
						if(typeof i == 'string')
							res.push(i);
						else
							res.push(i.src);
					}
				return res;					
			},
		},

		watch:{
			counter(val){
				this.counter = val % this.count;
			},
		},

		methods:{

		},

		components:{
			// Carousel: require('node_modules/vue-strap/src/Carousel.vue'),
		},
	};
</script>
