<template>
	<div>
		<modal title="Login" :show.sync="toggle" effect="zoom">
		    <div slot="modal-body" class="modal-body">
		        <form class="form-horizontal" role="form" method="POST" :action="url">
		            <div class="form-group">
		                <label class="col-md-4 control-label">E-Mail</label>

		                <div class="col-md-6">
		                    <input type="email" class="form-control" name="email" v-model="login.email">
		                </div>
		            </div>

		            <div class="form-group">
		                <label class="col-md-4 control-label">Password</label>

		                <div class="col-md-6">
		                    <input type="password" class="form-control" name="password" v-model="login.password">
		                </div>
		            </div>

		            <div class="form-group">
		                <div class="col-md-6 col-md-offset-4">
		                    <div class="checkbox">
		                        <label>
		                            <input type="checkbox" name="remember" v-model="login.remember"> Remember Me
		                        </label>
		                    </div>
		                </div>
		            </div>		            
		        </form>
		    </div>		    
		    <div slot="modal-footer" class="modal-footer">
			    <div class="form-group">
	                <div class="col-md-6 col-md-offset-4">
	                    <button type="submit" class="btn btn-primary" @click="signIn">
	                        <i class="fa fa-btn fa-sign-in"></i>Login
	                    </button>

	                    <a v-show="passwordReset" @click="toggle = false" class="btn btn-link" v-link="passwordPage">Forgot Your Password?</a>
	                </div>
	            </div>
		    </div>
		</modal>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:{			
			url:{
				default :'/api/login'
			},
			toggle:{
				type : Boolean,
				required : true,
			},
			passwordReset:{
				type : String,
				required : false,
			},

		},

		data(){
			return {
				login:{
					email:'',
					password:'',
					remember:true,
				},
			};
		},
		
		computed:{
			passwordPage(){
				return { 
					path: this.passwordReset
				};
			},
		},

		methods:{
			signIn(){
				this.$http.post(this.url, this.login)
					.then(function(data){
						this.$dispatch('signed-in', data);
						this.login.password = '';
						this.toggle = false;
						console.log(data);
					});
			},
		},

	};
</script>
