<template>
	<nav class="navbar navbar-default  navbar-fixed-top">
	    <div class="container">
	        <div class="navbar-header">

	            <!-- Collapsed Hamburger -->
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
	                <span class="sr-only">Toggle Navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>

	            <!-- Branding Image -->
	            <a class="navbar-brand" v-link="{ path: '/' }">
	                Laravel
	            </a>
	        </div>

	        <div class="collapse navbar-collapse" id="app-navbar-collapse">
	            <!-- Left Side Of Navbar -->
	            <ul class="nav navbar-nav" >
	                <li v-link-active>
	                    <a v-link="{ path: '/' }">Home</a>
	                </li>
	                <li>
	                	<a v-link="{ path: '/products' }">Products</a>
	                </li>
	            </ul>

	            <!-- Right Side Of Navbar -->
	            <ul class="nav navbar-nav navbar-right">

	                <li v-link-active>
	                    <a v-link="{ path: '/cart/summary' }">Cart  <span class="badge">{{ cartSize }}</span></a>
	                </li>
	               
                    <li v-show="!signedIn"><a href="#" @click.prevent="modals.login = true">Login</a></li>
                    <li v-show="!signedIn"><a href="/register">Register</a></li>

                    <li v-show="signedIn" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="current-user-icon">
                            {{ user.name }} <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/logout"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>
                        </ul>
                    </li>
	            </ul>
	        </div>
	    </div>
	</nav>
</template>
<style>

</style>
<script>
	export default {
		props:[],

		data(){
			return {

			};
		},
		
		computed:{
			cart(){
				return window.store.cart;
			},
			signedIn(){
				return false;
			},
			user(){
				return {
					name:'',
				};
			},
			cartSize(){
				var res = 0;
				for(key in this.cart)
					res++;
				return res;
			},
		},

		methods:{

		},
	};
</script>
