<template>
	<div v-show="options.length">
		<h4 v-if="heading">{{ heading }}</h4>
		<h4 v-else>{{ key | capitalize }}</h4>

		<div v-show="selected.length">
			<ul class="search-options-list" style="padding-left: 20px;">
				<li v-for="op in selected | orderBy 'op' | limitBy show">
					<a href="" @click.prevent="selected.$remove(op)">
						{{ op }}
					</a>
				</li>
			</ul>
			<hr>
		</div>
		<div v-show="unselected.length">
			<ul class="search-options-list" style="padding-left: 20px;">
				<li v-for="op in unselected | orderBy 'op' | limitBy show">
					<a href="" @click.prevent="selected.push(op)">
						{{ op }}					
						<span class="badge options-if-selected-badge" v-if="showPredicted">
							{{ ifOptionWasSelected(op).length }}
						</span>
					</a>						
				</li>
			</ul>
			<ol class="more-less-options-button-list">
				<li v-show="show > defShow">
					<a href="" @click.prevent="show -= 5">
						show less...
					</a>
				</li>
				<li v-show="options.length > show">
					<a href="" @click.prevent="show += 5">
						show more...
					</a>
				</li>
			</ol>
			<hr>
		</div>
		<toggle-button :active.sync="showPredicted" type="success">Show Predicted</toggle-button>
		<toggle-button :active.sync="showOutOfStock">Include out of stock items</toggle-button>
	</div>
</template>
<style>
	ol.more-less-options-button-list {
		list-style-type: none;
		padding-left: 10px;
	}
	ul.search-options-list {
		padding-left: 20px;
	}
	.options-if-selected-badge {
		background-color: rgba(47, 39, 128, 0.39);
	}

</style>
<script>
	export default {
		props:{
			key:String,
			heading:String,
			products:{
				type:Array,
				default:[],
			},
			selected:{
				type:Array,
				twoWay:true,
				required:true,
			},
			optionType:{
				type:String,
				default:'string',
			},
			query:Object,
		},

		data(){
			return {
				defShow:5,
				show:5,
				brand:'',

				showPredicted: false,
				showOutOfStock: false,
			};
		},
		
		computed:{
			options(){
				var res = {};
				for(var product of this.products){
					if(this.optionType == 'array'){
						for(var op of res[product[this.key]])
							res[op] = true;
					} else {
						res[product[this.key]] = true;
					}
				}
				return Object.keys(res);
			},
			unselected(){
				return this.options.filter(function(option){
					return ! this.isSelected(option);
				}.bind(this));
			},
			
			filteredProductList(){
				var products = this.products;
				if(!products)
					return [];
				return products.filter(function(product){
					if(this.query.search.name.length > 0){
						var reg = new RegExp(this.query.search.name, "i");
						if(product.name.search(reg) < 0)
							return false;						
					}	
					if(this.query.search.brands.length && !this.brandSelected(product.brand))	
						return false;

					return true;
				}.bind(this));
			},
		},

		methods:{
			isSelected(option){
				return this.selected.some(function(o){
					return o == option;
				});
			},
			brandSelected(brand){
				return this.query.search.brands.some(function(b){
					return b == brand;
				});
			},
			ifOptionWasSelected(option){
				var b = this.isSelected(option);
				this.query.search[this.key + 's'].push(option);
				var res = this.filteredProductList;
				if(!b)
					this.query.search[this.key + 's'].$remove(option);
				return res;				
			},
		},
		components:{
			ToggleButton: require('./ToggleButton.vue'),
		},
	};
</script>
