<template>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 pagination">
		<div class="input-group" style="padding-left: 25px">			
			<span class="input-group-addon">
				Results per Page
			</span>
			<select class="form-control" v-model="perPage">
				<option v-for="op in options" :value="op">{{ op }}</option>
				<option :value="total">All</option>
			</select>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6">
		<div class="pull-right" style="padding-right: 10px;">
			<ul class="pagination" v-if="simple"  v-cloak>
				<li :class="prevClasses"><a href="" @click.prevent="currentPage = 1">First</a></li>
				<li :class="prevClasses"><a href="" @click.prevent="currentPage--">«</a></li>
				<li class="active"><span>{{ currentPage }}</span></li>
				<li :class="nextClasses"><a href="" @click.prevent="currentPage++">»</a></li>
				<li :class="nextClasses"><a href="" @click.prevent="currentPage = pages">Last <span v-show="pages">({{ pages }})</span></a></li>
			</ul>
		</div> 
	</div>
</div>
</template>
<style>
	
</style>
<script>
	export default {
		props:{
			currentPage:{
				type:Number,
				twoWay:true,
				required:true,
			},
			perPage:{
				type:Number,
				twoWay:true,
				required:true,
			},
			results:{},
			count: Number,
			simple: Boolean,
		},
		data(){
			return {
				options:[3,5,10,15,25,50],
			};
		},
		computed:{
			total(){
				if(this.count)
					return this.count;
				if(!this.results)
					return 0;
				if(this.results instanceof Array)
					return this.results.length;
				return Object.keys(this.results).length;
			},
			pages(){
				var t = this.total / this.perPage;
				return Math.ceil(t);
			},
			prevClasses(){
				if(this.currentPage > 1)
					return '';
				return 'disabled';
			},
			nextClasses(){
				if(this.currentPage < this.pages)
					return '';
				return 'disabled';
			},
		},
		watch:{
			currentPage(val, oldVal){
				if(val < 1)
					this.currentPage = 1;
				if(val > this.pages)
					this.currentPage = this.pages;
			},
		},
	};
</script>
