<template>
	<div>
		<div class="row">
			<form class="inline-form">	
				<input type="text" v-model="query.search.name">
				<button @click.prevent="query.order.desc =! query.order.desc">{{ orderDirectionButtonName }}</button>
			</form>
			<br>
		</div>
		<div class="row">
			<div class="col-md-2" id="product-list-options">
				<option-list key="brand" :products="products" :selected.sync="query.search.brands" :query="query"></option-list>				
			</div>

			<div class="col-md-10">
				<div>
					<product 
						v-for="product in filteredProducts" 
						:product="product"
					></product>
				</div>
				<pagination :current-page.sync="page.current" :per-page.sync="page.results" :count="filteredProductList.length" :results="filteredProductList" simple></pagination>
			</div>
		</div>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:[],
		data(){
			return {			
				query : {
					order : {
						desc : false,
						property : 'name',
					},
					search:{
						name : '',
						price : {
							min : {
								use : true,
								value : 5,
							},
							max : {
								use : false,
								value : 0,
							},
						},
						brands : [],
						categories : [],	
					},		
					show:{
						brands:5,
					}
				},
				page:{
					current:1,
					results:3,
				},
			};
		},
		computed :{
			products(){
				var res = [];
				var list = window.store.products;

				for(product in list)
					res.push(list[product]);
				
				return res;				
			},
			orderDirection(){
				return this.query.order.desc ? -1 : 1;
			},
			orderDirectionButtonName(){
				return !this.query.order.desc ? 'descending' : 'ascending';
			},
			filteredProductList(){
				var products = this.products;
				var search = this.query.search;
				if(!products)
					return [];
				return products.filter(function(product){
					if(search.name.length > 0){
						var reg = new RegExp(search.name, "i");
						if(product.name.search(reg) < 0)
							return false;						
					}	
					if(search.brands.length && !this.brandSelected(product.brand))	
						return false;

					return true;
				}.bind(this));
			},
			filteredProducts(){
				var start = (this.page.current - 1) * this.page.results;
				var end = start + this.page.results;
				if(end >= this.products.length)
					return [];
				return this.products.slice(start, end);
			},
			
		},
		methods:{
			brandSelected(brand){
				return this.query.search.brands.some(function(b){
					return b == brand;
				});
			},
		},
		components:{
			Product: require('./Product.vue'),
			OptionList: require('./OptionList.vue'),
			Pagination: require('./Pagination.vue'),
		},
	};
</script>