<template>
	<div class="row product-wrapper-list"  @mouseover="animate = true" @mouseout="animate = false">
		<div class="col-md-12">
			<div class="col-md-3">
				<div class="thumbnail img-responsive">
					<images :images="images" alt="{{ product.name }} image" :animate="animate"></images>
				</div>
			</div>
			<div class="col-md-9">
				<div class="caption">
					<stock-icon :slug="product.slug" class="pull-right"></stock-icon>
					<h4><a v-link="route">{{ product.name }}</a></h4>
					<p>{{ short_description }}</p>
				</div>

				<div class="row">
					<div><h4>{{ (product.price / 100.00) | currency '£' }}</h4></div>
					<div class="pull-right">
						<add-to-cart :slug="product.slug"></add-to-cart>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style>
	.product-wrapper-list {
		border:1px solid rgba(0, 0, 0, 0.12);
		margin:10px;
	}
	.product-wrapper-list .thumbnail {
		margin:10px 0px;
	}
	.product-wrapper-list .thumbnail img{
		/*margin:0px;*/
	}
</style>

<script>
	export default {
		props:['product'],

		data(){
			return {
				animate:false,
			};
		},

		computed:{
			price(){
				return 10;
			},
			images(){
				return [
					'https://sliske.uk/img/captures/f381ec377e7ae4c.png',
					'https://sliske.uk/img/captures/d5ddc81f47a3cde.png',
					'https://sliske.uk/img/captures/436ad76471ef74b.png',

				];
			},
			short_description(){
				if(!this.product.description) return '';
				if(!this.product.description.short) return '';
				return this.product.description.short;
			},
			route(){
				return {
					name: 'product',
					params: {
						slug:this.product.slug,
					},
				};
			},
		},

		components:{
			StockIcon: require('./StockIcon.vue'),
			Images: require('./Images.vue'),
			AddToCart: require('./AddToCart.vue'),
		},

	};
</script>