<template>
	<div class="progress">
		<div class="progress-bar" :class="classes" role="progressbar" :aria-valuenow="current" :aria-valuemin="min" :aria-valuemax="max" :style="style">
			<span :class="spanClass">{{ current }}%{{ showLabel ? '' : ' Complete' }}</span>
		</div>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:{
			percentage:Number,
			minValue:Number,
			maxValue:Number,
			currentValue:Number,
			showLabel:Boolean,
			striped:Boolean,
			animated:Boolean,
			type:String,
			minWidth:String,
		},

		data(){
			return {

			};
		},
		
		computed:{
			classes(){
				var res = '';

				if(this.type)
					res += ' progress-bar-' + this.type;

				if(this.striped)
					res += ' progress-bar-striped';

				if(this.animated)
					res += ' active';

				return res;
			},

			spanClass(){
				return this.showLabel ? '' : 'sr-only';
			},

			progress(){
				if(this.percentage)
					return this.percentage;

				return 100 * ((this.currentValue - this.minValue) / (this.maxValue - this.minValue));
			},

			min(){
				return (this.percentage) ? 0 : this.minValue;
			},

			max(){
				return (this.percentage) ? 100 : this.maxValue;
			},

			current(){
				return (this.percentage) ? this.percentage : this.currentValue;
			},

			style(){
				var res = 'width:' + this.progress + '%;';
				if(this.minWidth)
					res += ' min-width: ' + this.minWidth + ';';
				return res;
			},
		},

		methods:{

		},
	};
</script>
