<template>
	<div class="label" :class="level.class">
		{{ level.message }}
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:{
			slug:{
				type:String,
			},
		},

		data(){
			return {
				stockLevels:{
					none:{
						message:'out of stock',
						class:'label-danger',
					},
					last:{
						message:'last one',
						class:'label-warning',
					},
					low:{
						message:'low stock',
						class:'label-warning',
					},
					high:{
						message:'in stock',
						class:'label-success',
					},
				},				
			};
		},
		
		computed:{
			stock(){
				return this.item.stock - this.currentlyHave;
			},
			item(){
				if(this.product)
					return this.product;
				var p = window.store.products[this.slug];
				if(p)
					return p;
				return {};
			},
			level(){
				var s = this.stock;
				if(s <= 0)
					return this.stockLevels.none;
				// if(s == 1)
				// 	return this.stockLevels.last;
				if(s <= 5)
					return this.stockLevels.low;
				return this.stockLevels.high;
			},
			currentlyHave(){
				var c = window.store.cart[this.item.slug];
				if(c)
					return c.quantity;
				return 0;
			},
		},

		methods:{

		},
	};
</script>
