<template>
	<div>
		<a href="" class="btn" :class="classes" @click.prevent="active =! active">
			<slot></slot>
		</a>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:{
			active:{
				type:Boolean,
				twoWay:true,
				required:true,
			},
			type:{
				default:'default',
			},
		},

		data(){
			return {

			};
		},
		
		computed:{
			classes(){
				var res = ' ';
				res += 'btn-' + this.type;
				if(this.active)
					res += ' active';

				return res;
			}
		},

		methods:{

		},
	};
</script>
