<template>
	<div class="container">
		<div class="row">
			<progress-bar :min-value="1" :max-value="stepCount" :current-value="currentStep.step" type="success" min-width="2em" striped animated></progress-bar>
		</div>

		<div class="row">
			<div class="col-md-8">
				<router-view :cart="cart"></router-view>
			</div>
			<div class="col-md-4">
				<cart-summary :cart="cart" :page="path" :steps="steps" :shipping="shipping" :show-total="shipping.set"></cart-summary>
			</div>
		</div>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:[],

		data(){
			return {
				stepCount:5,
				steps:{
					summary:{
						label:'Summary',
						next:'shipping',
						step:1,
					},
					shipping:{
						label:'Shipping',
						prev:'summary',
						next:'billing',
						step:2,

					},
					billing:{
						label:'Billing',
						prev:'shipping',
						next:'confirm',
						step:3,
					},
					confirm:{
						label:'Confirm',
						prev:'billing',
						next:'place',
						step:4,
					},
					place:{
						label:'Place Order',
						step:5,
					},
				},

				pages:{
					'1': 'item-summary',
				},
				shipping:{
					set:false,
				},
			};
		},
		
		computed:{
			path(){
				return this.$route.path.split('/')[2];
			},
			currentStep(){
				return this.steps[this.path];
			},
			cart(){
				var res = [];

				for(item in window.store.cart){
					var i = window.store.products[item];
					var c = window.store.cart[item];
					if(i){
						res.push({
							name: i.name,
							oPrice: i.price,
							price: i.price / 100.00,
							quantity: c.quantity,
							slug:i.slug,
							stock: i.stock,
						});
					}
				}
				return res;
			},
		},

		methods:{

		},

		components:{
			ProgressBar: require('../components/ProgressBar.vue'),
			ItemSummary: require('./cart/Summary.vue'),
			CartSummary: require('../components/CartSummary.vue'),
		},
	};
</script>
