<template>	
	<div class="container">
		<h1>Hello</h1>
		<a href="" v-link="{ path: '/products' }">products</a>
	</div>
</template>
<script>
	import ProductList from '../components/ProductList.vue';
	export default {
		components: {
			ProductList,
		},
	};
</script>

<style>
	background-color : red;
</style>