<template>
	<div>
		<h1>Page not found</h1>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:[],

		data(){
			return {

			};
		},
		
		computed:{

		},

		methods:{

		},
	};
</script>
