<template>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img :src="image" alt="{{ product.name }} image" class="thumbnail img-responsive">
			</div>
			<div class="col-md-8">
				<h3>{{ product.name }}</h3>
				<p>{{ product.description.full }}</p>
				<a class="btn" href="" @click.prevent="addToCart">Add to Cart</a>
			</div>
		</div>
	</div>
</template>
<style>

</style>
<script>
	export default {
		props:[],

		data(){
			return {
				defaultProduct:{
					name:'',
					description:{
						full:'',
					},
				},
			};
		},
		
		computed:{
			product(){
				var res = window.store.products[this.$route.params.slug];
				if(!res)
					return this.defaultProduct;
				return res;
			},
			image(){
				return 'https://sliske.uk/img/captures/f381ec377e7ae4c.png';
			},
			stockWarning(){
				return {
					required:false

				};
			},
		},

		methods:{
			refreshCart(data){
				var d = data.data;
				window.store.cart = d;

				for(item of d)
					window.store.products[item.product_slug]['stock'] = item.stock;				
			},
			addToCart(){
				var d = {
					product_slug: this.$route.params.slug,
					quantity: 1,
				};
				this.$http.post('api/cart', d).then(function(data){
					this.refreshCart(data);
				});
			},
		},

		ready(){
			if(!this.product){
				
			}
		},
	};
</script>
