<template>	
	<div class="container">		
		<product-list url="/api/products"></product-list>			
	</div>
</template>
<style>

</style>
<script>
	import ProductList from '../components/ProductList.vue';
	export default {
		components: {
			ProductList,
		},
	};
</script>
